$color-gray: #C0C0C0
    
*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%

body
    font-family: "Montserrat", sans-serif
    font-weight: 400
    font-size: 1.4rem
    color: #fff
    background-color: #000000

a
    text-decoration: none

li
    list-style: none

hr
    width: 90%
    margin: 0 auto

.container
    display: grid
    grid-template-rows: 90vh min-content repeat(7, min-content)

.padding
    padding-right: 10rem
    padding-left: 10rem

.text-center
    text-align: center