.cards
    display: grid
    grid-template-rows: repeat(2, minmax(min-content, 60rem))
    grid-template-columns: repeat(2, minmax(min-content, 60rem))

    &__item
        position: relative

    &__text
        position: absolute
        padding: 0 3rem
        bottom: 5rem