.section-gallery
    display: flex
    flex-direction: column
    // grid-template-columns: repeat(2, minmax(min-content, 57rem))
    // grid-template-rows: repeat(2, minmax(4rem, min-content)) minmax(min-content, 12rem)
    justify-content: center
    align-items: center
    padding: 10vh
        
